﻿@model DedicatedRepLibrary.customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>customer</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CustomerName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CustomerName)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.AccountId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.AccountId)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.VendorId)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.VendorId)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Active)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Active)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.JobSkinDID)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.JobSkinDID)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CompanyProfile)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CompanyProfile)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IndCodes)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IndCodes)
        </div>
         <div class="display-label">
             @Html.DisplayNameFor(model => model.URL)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.URL)
        </div>
         <div class="display-label">
             @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>

         <div class="display-label">
             @Html.DisplayNameFor(model => model.ModifiedDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ModifiedDate)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
