﻿@model IEnumerable<DedicatedRepLibrary.customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
             

            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>                    
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.JobSkinDID)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.CompanyProfile)
            </th>                           
                     
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>

              <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.JobSkinDID)
            </td>     
            <td>
                @Html.DisplayFor(modelItem=>item.CompanyProfile)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId })
                @Html.ActionLink("Details", "Details", new { id=item.CustomerId })
                @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
